# Xilinx ISE mess
project/xilinx-ise/**/*.gise
project/xilinx-ise/**/*.log
project/xilinx-ise/**/*.html
project/xilinx-ise/**/*.xml
project/xilinx-ise/**/*.xrpt
project/xilinx-ise/**/*.txt
project/xilinx-ise/**/*.csv
project/xilinx-ise/**/*.map
project/xilinx-ise/**/*.mrp
project/xilinx-ise/**/*.ncd
project/xilinx-ise/**/*.ngm
project/xilinx-ise/**/*.xwbt
project/xilinx-ise/**/*.unroutes
project/xilinx-ise/**/*.xst
project/xilinx-ise/**/*.xpi
project/xilinx-ise/**/*.ut
project/xilinx-ise/**/*.twx
project/xilinx-ise/**/*.twr
project/xilinx-ise/**/*.syr
project/xilinx-ise/**/*.stx
project/xilinx-ise/**/*.ptwx
project/xilinx-ise/**/*.par
project/xilinx-ise/**/*.pcf
project/xilinx-ise/**/*.pad
project/xilinx-ise/**/*.ngr
project/xilinx-ise/**/*.ngd
project/xilinx-ise/**/*.ngc
project/xilinx-ise/**/*.lso
project/xilinx-ise/**/*.drc
project/xilinx-ise/**/*.cmd_log
project/xilinx-ise/**/*.bld
project/xilinx-ise/**/*.bit
project/xilinx-ise/**/*.bgn
project/xilinx-ise/**/*.xmsgs
project/xilinx-ise/**/*.cmd
project/xilinx-ise/**/pepExtractor.prj
project/xilinx-ise/**/*testbench*.prj
project/xilinx-ise/**/*.exe
project/xilinx-ise/**/*.wdb
project/xilinx-ise/**/xilinxsim.ini
project/xilinx-ise/**/iseconfig/
project/xilinx-ise/**/_*/
project/xilinx-ise/**/xst/
project/xilinx-ise/**/xlnx*/
project/xilinx-ise/**/isim/
